/.vs
/Parts-And-Service-API/bin
/Parts-And-Service-API/obj
/PnSAPITest/bin
/PnSAPITest/obj
PnSAPITest/PnSAPITest.csproj.user
Parts-And-Service-API/PnSAPI.csproj.user
.vs/PnS API/CopilotIndices/17.14.1691.21253/CodeChunks.db
.vs/PnS API/CopilotIndices/17.14.1691.21253/SemanticSymbols.db
